// class-detai-image
.class-detail-image {
  padding: 0 !important;
  background: url('/images/ct-class-detail-main-01.png') no-repeat center center;
  background-size: cover;
  .class-detail-image-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    .heading {
      h1 {
        font-family: $secondary-kr;
        font-size: 36px;
        font-weight: bold;
      }
      p {
        font-family: $secondary-kr;
        font-size: 20px;
      }
    }
    .cover-image {
      img {
        height: 500px;
      }
    }
  }
}

// class-detail-full
.class-detail-full {
  background-color: $light-gray;
  .class-detail-full-inner {
    .class-detail-full-content {
      display: flex;
      gap: 30px;
      > div {
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba($black, 0.05);
        padding: 30px;
      }
    
      // 내용
      .class-detail-info {
        flex: 1;
        .class-detail-navigation {
          position: sticky;
          top: 120px;
          z-index: 2;
          border-bottom: 1px solid $silver-gray;
          height: 50px;
          display: flex;
          gap: 20px;
          align-items: center;
          background-color: $white;
          padding: 30px 0;
          a {
            position: relative;
            &.active {
              font-weight: 500;
              &::after {
                content: '';
                height: 3px;
                width: 100%;
                background-color: $dark-black;
                position: absolute;
                left: 0;
                bottom: -10px;
              }
            };
          }
        }

        // 클래스 헤더 공통
        .class-detail-header {
          margin: 30px 0;
          position: relative;
          padding-left: 10px;
          h2 {
            font-size: 20px;
            font-weight: 500; 
          }
          span {
            font-size: 14px;
            color: $dim-black;
          }
          &::before {
            content: '';
            width: 4px;
            height: 43px;
            background-color: $crimson;
            position: absolute;
            left: 0;
            top: 5px;
          }
        }

        // 소개
        .class-introduce {
          .class-detail-wrap {
            margin-top: 20px;
            h1 {
              font-weight: normal;
            }
            ul {
              padding-left: 18px;
            }
            .sub-wrap {
              margin: 20px auto;
              text-align: center;
              border: 1px solid $silver-gray;
              border-radius: 10px;
              padding: 30px;
              img {}
              h2 {
                font-size: 20px;
                color: $royalblue;
              }
              .class-introduce-feature {
                list-style: none;
                li {
                  font-weight: 400;
                  em {
                    font-style: normal;
                    color: $forestgreen;
                  }
                }
              }
            }
          }
        }

        // 커리큘럼
        .class-curriculum {
          .class-detail-wrap {

            // 접기 펼치기 버튼
            .curriculum-all-fold-expand {
              .btn-curriculum-fold {}
              .btn-curriculum-expand {
                &.selected {}
              }
              span {}
            }

            // 커리큘럼_헤더
            .curriculum-basic-info.header {
              background-color: $light-gray;
              border-radius: 5px;
              padding: 7px 15px;
              font-weight: normal;
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
            }

            // 커리큘럼_푸터
            .curriculum-basic-info.footer {
              text-align: center;
              background-color: $light-gray;
              border-radius: 5px;
              padding: 7px 15px;
              font-weight: normal;
              color: $light-black;
              font-size: 14px;
              margin-top: 10px;
            }

            // 아코디언
            .curriculum-accordion {
              .accordion-item-wrap {
                // 아코디언_타이틀
                .chapter-title {
                  display: flex;
                  justify-content: space-between;
                  cursor: pointer;
                  padding: 10px 5px;
                  border-bottom: 1px solid $silver-gray;
                  &.active .chapter-subject::before {
                    content: '\F64D';
                  }
                  .chapter-subject {
                    color: $turquoise;
                    font-weight: 500;
                    &::before {
                      content: '\F63B';
                      font-family: $bs-font;
                      margin-right: 5px;
                      font-weight: bold;
                      display: inline-block;
                      transform: translateY(2px);
                    }
                  }

                  .chapter-hour {}
                }

                // 아코디언_콘텐츠
                .chapter-content {
                  display: none;
                  .chapter-content-class {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 5px;
                    .class-subject {
                      cursor: pointer;
                      .bi {
                        margin-right: 5px;
                      }
                    }
                    .class-hour {
                      .curriculum-badge.free {
                        color: $forestgreen;
                        font-size: 11px;
                        background-color: $light-gray;
                        border-radius: 3px;
                        padding: 2px;
                        font-weight: normal;
                      }
                      .class-hour-detail {}
                    }
                  }
                }
              }
            }

          }
        }

        // 수강후기
        .class-reivew {
          .class-detail-wrap {
            .review-group {
              display: flex;
              gap: 20px;
              .review-stars-rating {
                flex-grow: 3;
                border: 1px solid $silver-gray;
                border-radius: 15px;
                padding: 5px 25px;
                .stars-rating-count {
                  .overview {
                    .class-review {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 10px;
                      .stars {
                        .bi {
                          font-size: 26px;
                        }
                      }
                      .rating {
                        font-size: 34px;
                        font-weight: bold;
                        &:after {
                          display: none;
                        }
                      }
                      .review-count {
                        font-size: 16px;
                      }
                    }
                  }
                }
                .review-diagram-group {
                  .review-diagram {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin: 5px 0;
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                      .review-diagram-bar {
                        .review-diagram-bar-progress {
                          background-color: $dark-gray;
                        }
                      }
                    }
                    b {
                      font-size: 16px;
                      font-weight: 500;
                      flex-shrink: 0;
                      margin-right: 10px;
                      // width : 40px;
                    }
                    .review-diagram-bar {
                      background-color: $dim-gray;
                      width: 100%;
                      height: 10px;
                      border-radius: 10px;
                      position: relative;
                      .review-diagram-bar-progress {
                        position: absolute;
                        background-color: $orange;
                        height: inherit;
                        border-radius: inherit;
                      }
                    }
                  }
                }
              }
              .review-focus-group {
                flex-grow: 2;
                .review-focus {
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  span {
                    font-size: 38px;
                  }
                  div {
                    font-size: 14px;
                    b {
                      display: block;
                      font-size: 16px;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
            .review-user-comment-group {
              margin-top: 40px;
              .review-user-comment {
                display: flex;
                gap: 10px;
                margin: 5px 0;
                .user-avatar {
                  img {
                    width: 40px;
                    border-radius: 50%;
                  }
                }
                .user-comment {
                  font-size: 14px;
                  .user-name-date {
                    .user-name {
                      font-weight: 400;
                      margin-right: 10px;
                    }
                  }
                  .stars {
                    word-spacing: -2px;
                    .bi {
                      color: $orange;
                    }
                  }
                  p {
                    margin-top: 5;
                    font-weight: 400;
                  }
                }
              }
            }
            .btn-review-more {
              color: $crimson;
              border: 1px solid;
              display: block;
              text-align: center;
              padding: 8px;
              border-radius: 5px;
              transition: .35s;
              &:hover {
                background-color: $crimson;
                color: $white;
              }
            }
          }
        }
        // 자주묻는질문
        .class-faq {
          .class-detail-wrap {
            .faq-accordion {
              .faq-title {
                font-size: 15px;
                font-weight: 500;
                padding: 10px 0;
                cursor: pointer;
                b {
                  font-family: $primary-en;
                  margin-right: 5px;
                  font-size: 16px;
                }
              }
              .faq-content {
                border-bottom: 1px solid $silver-gray;
                padding: 10px 0;
                font-size: 14px;
                display: none;
                &:last-child {
                  border: none;
                }
              }
            }
          }
        }

        // 멘토
        .class-mentor {
          .class-detail-wrap {
            display: flex;
            gap: 20px;
            .mentor-profile-summary {
              flex: 2;
              border: 1px solid $silver-gray;
              border-radius: 15px;
              text-align: center;
              padding: 30px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .mentor-avatar {
                img {
                  width: 80px;
                  border-radius: 50%;
                }
              }
              .mentor-class-button {
                .btn-mentor-profile {
                  border: 1px solid $dim-gray;
                  font-size: 14px;
                  margin: 0 5px;
                  padding: 3px 15px;
                  border-radius: 3px;
                  background-color: $white;
                  em {
                    font-style: normal;
                    color: $orangered;
                    margin-left: 3px;
                  }
                }
              }
            }
            .mentor-profile-career {
              flex: 4;
              .mentor-profile-header {
                margin-bottom: 20px;
                h4 {
                  font-size: 16px;
                  margin-bottom: 5px;
                }
              }
              .mentor-profile-history {
                h4 {
                  font-size: 16px;
                  margin-bottom: 5px;
                }
                ul {
                  padding-left: 18px;
                  line-height: 1.8em;
                  margin: 0;
                }
              }
            }
          }
        }
      }

      // 사이드
      .class-detail-sidebar {
        height: 720px;
        flex-basis: 330px;
        position: sticky;
        top: 140px;
        .class-detail-sidebar-wrap.group-required-info {
          .hash-tag-group {
            font-size: 13px;
          }
          .badge-group {
            margin: 10px 0;
            .badge-class-required {
              background-color: $silver-gray;
              font-size: 11px;
              border-radius: 3px;
              padding: 3px 5px;
              &.focus {
                color: $crimson;
              }
            }
          }
          .overview {
            h4 {
              font-size: 17px;
              margin: 15px 0;
              font-weight: 500;
            }
            .class-price {
              margin-top: 15px;
              display: flex;
              justify-content: space-between;
            }
            .class-installment {
              font-size: 18px;
              font-weight: 400;
              text-align: right;
              .installment-price {
                margin-right: 41px;
              }
              .installment-info {
                font-size: 13px;
                color: $dark-gray;
              }
            }
          }
        }
        .class-detail-sidebar-wrap.group-required-info {
          .hash-tag-group {
            font-size: 13px;
          }
          .badge-group {
            margin: 10px 0;
            .badge-class-required {
              background-color: $silver-gray;
              font-size: 11px;
              border-radius: 3px;
              padding: 3px 5px;
              &.focus {
                color: $crimson;
              }
            }
          }
          .overview {
            h4 {
              font-size: 17px;
              margin: 15px 0;
              font-weight: 500;
            }
            .class-price {
              margin-top: 15px;
              display: flex;
              justify-content: space-between;
            }
            .class-installment {
              font-size: 18px;
              font-weight: 400;
              text-align: right;
              .installment-price {
                margin-right: 41px;
              }
              .installment-info {
                font-size: 13px;
                color: $dark-gray;
              }
            }
          }
        }
        .class-detail-sidebar-wrap.group-main-action {
          border-top: 1px solid $silver-gray;
          border-bottom: 1px solid $silver-gray;
          margin: 20px 0;
          padding: 20px 0;
          .btn-primary {
            display: block;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            margin: 5px 0;
            color: $white;
            &.btn-register {
              background-color: $orangered;
            }
            &.btn-cart {
              background-color: $forestgreen;
            }
          }
          .cart-confirm-wrap {
            position: relative;
            .cart-confirm {
              background-color: $white;
              border: 1px solid $forestgreen;
              border-radius: 3px;
              padding: 20px;
              text-align: center;
              position: absolute;
              width: 100%;
              bottom: 110%;
              display: none;
              .btn-close {
                border: none;
                background-color: transparent;
                font-size: 1.3em;
                color: $light-black;
                position: absolute;
                top: 5px;
                right: 5px;
              }
              span {
                font-size: 13px;
                display: block;
                margin-bottom: 10px;
              }
              .btn-cart-check {
                border: 1px solid $forestgreen;
                color: $forestgreen;
                background-color: transparent;
                border-radius: 3px;
                padding: 5px 10px;
              }
            }
          }
        }
        .class-detail-sidebar-wrap.group-sub-action {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
          .btn-sidebar-badge {
            flex: 1;
            border: none;
            background-color: $light-gray;
            border-radius: 3px;
            padding: 10px 0;
            font-size: 13px;
            .bi {
              margin-right: 5px;
              color: $dark-gray;
            }
          }
        }
        .class-detail-sidebar-wrap.group-mentor-summary {
          .mentor-class-summary {
            display: flex;
            .mentor-avatar {
              img {
                width: 40px;
                border-radius: 100%;
              }
            }
            .class-summary-list {
              margin: 0;
              padding-left: 18px;
              font-size: 14px;
              list-style: none;
              line-height: 1.3em;
              li:before {
                content: '·';
                font-size: 20px;
                margin-right: 5px;
                transform: translateY(3px);
                display: inline-block;
              }
            }
          }
        }
        .btn-mentor-follow {
          display: block;
          border: 1px solid $tomato;
          text-align: center;
          font-weight: 400;
          padding: 10px;
          border-radius: 5px;
          color: $tomato;
          font-size: 16px;
          margin-top: 20px;
          &:before {
            content: '\F64D';
            font-family: $bs-font;
            margin-right: 5px;
            transform: translateY(2px);
            display: inline-block;
          }
        }
        .class-detail-sidebar-wrap.group-inquire {
          border-top: 1px solid $silver-gray;
          margin-top: 20px;
          padding-top: 20px;
          .btn-inquire {
            text-align: center;
            display: block;
            font-size: 14px;
            &:before,
            &:after {
              font-family: $bs-font;
              display: inline-block;
              transform: translateY(2px);
            }
            &:before {
              content: '\F24A';
              margin-right: 5px;
            }
            &:after {
              content: '\F285';
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

// 공유하기 모달
.class-share-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-black, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  .class-share {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 rgba($black, 0.09);
    h2 {
      text-align: center;
      font-family: $secondary-kr;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .share-choice-items {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      .share-choice-item {
        cursor: pointer;
        flex: 1;
        text-align: center;
        .bi {
          width: 50px;
          height: 50px;
          display: block;
          font-size: 1.5em;
          line-height: 42px;
          border-radius: 5px;
          color: $white;
        }
        span {
          display: block;
          font-size: 12px;
        }
        &.share-link {
          position: relative;
          .copied-link {
            display: none;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            background-color: $black;
            color: $white;
            white-space: nowrap;
            padding: 3px 5px;
            border-radius: 3px;
            &::after {
              content: '';
              width: 5px;
              height: 5px;
              background-color: $black;
              display: inline-block;
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(45deg);

            }
          }
        }
        &:nth-child(1) .bi {
          background: #385998;
        }
        &:nth-child(2) .bi {
          background: #55acee;
        }
        &:nth-child(3) .bi {
          background: #ffe812;
          color: $dark-black;
        }
        &:nth-child(4) .bi {
          background: #e8e8e8;
          color: $dark-black;
          font-size: 2em;
        }
      }
    }
    .btn-modal-close {}
  }
}