/* Import Local SCSS Files */
@import "reset", "variables", "fonts", "main", "category-main", "take-course", "member-register", "login", "class-detail", 'responsive-mobile';

.front-slider,
.category-shortcut,
.focus-class,
.best-class,
.early-bird,
.blog,
.slogan,
.tip-tech {
  display: none;
}

/* Responsive for Mobile */
@media (max-width: 767px) {

  /* ########################## Common CSS ########################## */
  [class*=inner]  {
    width: 100% !important;
  }

  /* header */
  header {
    .header-inner {
      padding: 0 10px;
      .logo {
        img {}
      }
      .search {
        display: none;
      }
      .gnb {
        .trigger {
          transform: translateY(-2px);
          span {
            display: none;
          }
          &::before {
            background: url('/images/icon-category-search.png');
          }
        }
        .special-navi {
          white-space: nowrap;
          width: 360px;
          overflow-y: hidden;
        }
        a {
          &:first-child::after {
            display: none;
          }
        }
      }
    }

    .mega-navi {
      display: block;
      position: fixed; // 어디에서도 눌렀을 떄 나와야하니까
      top: 0;
      left: -300px;
      width: 300px; // 너무 끝까지 차지 말라고
      height: 100vh;
      padding-top: 60px;
      .search-mobile {
        display: block;
        width: 280px;
        margin: auto;
      }
      .mega-navi-inner {
        flex-direction: column;
        .mega-navi-item {
          &:last-child b {
            border: none;
          }
          b {
            border-bottom: 1px solid $dim-black;
            display: block;
            padding: 5px 15px;
            color: $dark-gray;
            &:after {
              content: '\f4fe';
              font-family: $bs-font;
              float: right;
              color: $silver-black;
              font-size: 18px;
            }
            &.active {
              color: $white;
            }
            &.active:after {
              content: '\f2ea';
              color: $white;
            }
          }
          .mega-navi-item-wrap {
            display: none;
            padding: 10px 15px;
          }
        }
      }
      .btn-mega-navi-close {
        display: block;
        color: $white;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.3em;
        background: transparent;
        border: none;
      }
    }
  }

  /* footer */
  footer {
    padding: 30px 0;
    .footer-inner {
      padding: 0 20px;
      .lnb-wrap {
        flex-direction: column;
        border: none;
        gap: 50px;
        .footer-slogan {
          h2 {
            text-align: center;
            font-size: 1.8em;
            color: $white;
          }
        }
        .lnb {
          flex-direction: column;
          .link-item {
            .link-item-title {
              padding: 10px 0;
              border-bottom: 1px solid $silver-black;
              pointer-events: all; 
              &:after { 
                content: '\f282';
                font-family: $bs-font;
                float: right;
                margin-right: 5px;
              }
              &.active:after {
                transform: rotateX(180deg);
              }
            }
            .link-item-content {
              padding: 5px 0;
              display: none;
              a {
                padding: 3px 0;
              }
            }
          }
        }
      }
      .copyright-wrap {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        .company-info-trigger {
          display: block;
          color: $white;
          font-weight: 400;
        }
        address {
          display: none;
        }
        .sns {
          margin-top: 10px;
        }
      }
    }
  }
}